{% extends "layout.html" %}
{% block head %}
    {{super()}}
{% endblock %}

{% block container %}
<div id="drill-wrapper">
    <div>
        <div id="video-wrapper">
            <img alt="Image" src="{{url_for('static', filename='drill_stock.png')}}">
        </div>
        <div id="drill-details-wrapper">
            <p class="drill-category">{{video['category']}}</p>
            <p class="drill-title"><b> {{video['title']}}</b></p>
            <a href="{{url_for('Organization.org_profile', org_id=video['organization_id'])}}">
                <p class="drill-organization">{{video['organization']}}</p>
            </a>

            <p class="drill-views">{{video['views']}} views</p>
            <p class="divider">&nbsp&nbsp|&nbsp&nbsp</p>
            <p class="drill-date-created">{{video['date_created']}}</p>
        </div>
    </div>


    {{super()}}
    <div id="drill-comments-wrapper">
        <h4>Comments</h4>
        {% for comment in comments %}
        <div class="drill-comment-wrapper">
            <div class="comments-profile-thumb">{{comment['name'][0]}}</div>
            <p><b>{{comment['name']}}</b></p>
            <p class="drill-comment-text">{{comment['comment']}}</p>
        </div>
        {% endfor %}
    </div>

    <div id="drill-stats">

    </div>
    <div id="drill-media">

    </div>
</div>









<style>
    #top-carousel {
        padding-left: 0px;
        overflow: hidden;
        padding-top: 40px;
        float: left;
    }
    div.carousel {
        width: auto;
    }
    #drill-wrapper {
        display: block;
        padding-top: 150px;
        padding-left: 75px;
        width: 100%;
        height: 100%;
    }
    #video-wrapper {
        display: block;
        float: left;
        width: 900px;
        height: 450px;
    }
    #video-wrapper img {
        width: 100%;
        height: 100%;
    }
    #drill-comments-wrapper {
        width: 430px;
        display: inline-block;
        height: 100%;
        padding-left: 30px;
    }
    .drill-comment-text {
        width: 100%;
    }
    #drill-comments-wrapper p {
        display: inline-block;
    }
    .drill-comment-wrapper {
        padding-bottom: 50px;
        border-bottom: 1px grey solid;
        padding-top: 20px;
    }
    .drill-comment-wrapper:last-child {
        border-bottom: transparent;
    }
    .comments-profile-thumb {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        padding-top: 3px;
        border: 2px #4FDBBC solid;
        color: #4FDBBC;
    }
    #drill-details-wrapper {
        padding-top: 10px;
        display: inline-block;
        float: left;
        width: 900px;
    }
    #drill-details-wrapper a:hover {
        font-weight: bold;
    }
    #drill-details-wrapper p {
        margin-bottom: 0px;
        color: #A9A9A9;
        float: left;
    }
    p.drill-category, p.drill-title, p.drill-organization {
        width: 100%;
    }
    p.drill-views, p.drill-date-created, p.divider {
    }
    #drill-details-wrapper p.drill-title {
        color: black;
    }
</style>
{% endblock %}