{% extends "layout.html" %}
{% block head %}
    {{super()}}
{% endblock %}

{% block container %}
    {{super()}}
    <div id="top-carousel">
        {% for video_row in video_list %}
         <h4>{{video_row['category']}}</h4>
            <div id="myCarousel{{loop.index}}" class="carousel slide" data-interval="false">
                <!-- Carousel items -->
                <div class="carousel-inner {{loop.index}}">
                    <!--/item-->
                    {% for videos in video_row['videos'] %}
                    <div class="item {{videos[0]}}">
                        <div class="videos-row-wrapper">
                            {% for item in videos[1:] %}
                            <div class="video-wrapper">
                                <a href="{{url_for('Drilldown.drill_down', video=item)}}" class="thumbnail">
                                    <img src="{{url_for('static', filename='video_thumbnails/video_placeholder.jpg')}}" alt="Image" class="img-responsive">
                                    <p class="video-title">{{item['title']}}</p>
                                </a>
                                <a class="video-company-link"
                                   href="{{url_for('Organization.org_profile')}}">
                                    <p class="video-company">{{item['organization']}}</p>
                                </a>
                                <a href="{{url_for('Drilldown.drill_down', video=item)}}">
                                    <p class="video-views">{{item['views']}} views</p>
                                    <p class="video-date">{{item['date_created']}}</p>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <!--/row-->
                    </div>
                    {% endfor %}
                </div>
                <!--/carousel-inner-->
                <div class="left carousel-control {{loop.index}}" href="#myCarousel{{loop.index}}" data-slide="prev" hidden>
                    <a >‹</a>
                </div>
                <div class="right carousel-control {{loop.index}}" href="#myCarousel{{loop.index}}"
                     data-slide="next" {% if video_row['videos']|length == 1 %} hidden {% endif %}>

                    <a>›</a>
                </div>
            </div>
            <!--/myCarousel-->
        {% endfor %}
        </div>
<script>
$( document ).ready(function() {
    $("[id^='myCarousel']").on('slid.bs.carousel', function() {
    	var $this = $(this);
    	$this.children('.carousel-control').show();
    	var $inner = $this.children('.carousel-inner');
        if($inner.children('.item:first').hasClass('active')) {
            $this.children('.left.carousel-control').hide();
        } else if($inner.children('.item:last').hasClass('active')) {
            $this.children('.right.carousel-control').hide();
        }
    });

    $("p.video-company-link").click(function(e) {
        e.stopPropagation();
        console.log("clickedddd");
})
});

</script>

<style>
    /*  ---------- CAROUSEL ---------- */
    #top-carousel {
        padding-top: 150px;
        padding-left: 75px;
        overflow: hidden;
    }
    .carousel-control {
        padding-top: 50px;
        width: 50px;
        height: 130px;
    }
    .carousel {
        width: 1440px;
        display: inline-block;
    }

    /*  ---------- VIDEOS ---------- */
    .videos-row-wrapper {
        overflow-x: hidden;
        width: 100%;
    }
    .video-wrapper p {
        margin-bottom: 0px;
    }
    .video-wrapper a, .video-wrapper a:hover {
        width: 100%;
        display: block;
        color: black;
        text-decoration: none;
    }
    .video-category, .video-company, .video-views, .video-date {
        color: #A9A9A9;
    }
    .video-views {
        float: left;
        margin-right: 5px;
    }
    .video-wrapper {
        vertical-align: top;
        width: 260px;
        height: 220px;
        display: inline-block;
    }
    .video-wrapper:first {
        margin-left: 0px;
    }
    .video-wrapper:last {
        margin-right: 0px;
    }
    /*  ---------- VIDEO DETAILS ---------- */
    .video-company-link {
        position: relative;
        z-index: 99;
    }
    .video-company-link:hover {
        font-weight: bold;
    }

    /*  ---------- VIDEO THUMBNAIL ---------- */
    .thumbnail img {
        height: 130px;
        width: 100%;
        margin: 0px;

    }
    .thumbnail {
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        padding: 0px;
        border: 0;


</style>
{% endblock %}
